table, th, td {
  border:3px solid black;
  border-collapse: collapse;
  text-align: center;
  
}
#sensor1 tr:nth-child(even) {
  background-color: #eee;
}
#sensor1 tr:nth-child(odd) {
  background-color: #fff;
}
#sensor1 th {
  color: white;
  background-color: black;
}

#sensor2 tr:nth-child(even) {
  background-color: red;
}
#sensor2 tr:nth-child(odd) {
  background-color: rgb(236, 95, 0);
}
#sensor2 th {
  color: black;
  background-color: red;
}